x64/Debug
x64/

Build/
.ilk
.pdb
.vcxproj
.filters
.user
.qrc

SudokuSolver2.vcxproj
SudokuSolver2.vcxproj.filters
SudokuSolver2.vcxproj.user
Sudoku.qrc
.vs/SudokuSolver2/v16/.suo
.vs/SudokuSolver2/v16/Browse.VC.db
.vs/SudokuSolver2/v16/ipch/AutoPCH/f64254fb45e919e6/SOLVE.ipch
